<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @content.language %>
</p>

<p>
  <strong>Body:</strong>
  <%= @content.body %>
</p>

<%= link_to 'Edit', edit_post_content_path %> |
<%= link_to 'Back', post_contents_path %>
